<div>
  <app-sidenav></app-sidenav>
  <section>
    <div layout="column" layout-fill="" layout-align="top center">
      <p>
        The left sidenav will 'lock open' on a medium (>=960px wide) device.
      </p>
      <p>
        The right sidenav will focus on a specific child element.
      </p>

      <div>
        <button ng-click="toggleLeft()" class="md-primary" hide-gt-md="">
          Toggle left
        </button>
      </div>

      <div>
        <button ng-click="toggleRight()" ng-hide="isOpenRight()" class="md-primary">
          Toggle right
        </button>
      </div>
    </div>

    <div flex=""></div>

  </section>
</div>
