/* You can add global styles to this file, and also import other style files */
.content-data{
        margin-top: 65px;
    text-align: center;

}

.div-padding{
  padding:10px 0px 10px;
  background: #1485CC;
  color: #edeeed;
}

.list-badge{
  background: transparent;
  color: #000;
  border: 1px solid #000;
  border-radius: 10px;
  margin-left: 2px;
}

.top-margin{
  margin-top: 15px;
}

